# python3.7

# For elegantRL
gym>=0.17
torch==1.8.0+cu111
tensorboardX
numpy
matplotlib
pybullet
opencv-python
box2d-py
# For Carla
# carla  | Need manual installation by https://github.com/carla-simulator/carla/tree/master/PythonAPI/carla
gygame
scikit-image